<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>moon</string>
   </array>
  <key>name</key>
  <string>moon</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.moon</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#illegal_length</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#note_sequence</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#text</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#illegal</string>
        </dict>
       </array>
    </dict>
    <key>illegal</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>([^\s])</string>
          <key>name</key>
          <string>invalid.moon</string>
        </dict>
       </array>
    </dict>
    <key>illegal_length</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.{129,})</string>
          <key>name</key>
          <string>invalid.moon</string>
        </dict>
       </array>
    </dict>
    <key>note_sequence</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\[)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>support.class.punctuation.moon</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#note_sequence__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>support.class.punctuation.moon</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>note_sequence__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#phoneme_len_and_pitch</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#illegal</string>
        </dict>
       </array>
    </dict>
    <key>phoneme_len_and_pitch</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>([a-z\x{0027}_]+)(&lt;)(\d+)(,)(\d+)(&gt;)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.moon</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>punctuation.definition.tag.moon</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>constant.numeric.moon</string>
            </dict>
            <key>4</key>
            <dict>
              <key>name</key>
              <string>punctuation.definition.tag.moon</string>
            </dict>
            <key>5</key>
            <dict>
              <key>name</key>
              <string>constant.numeric.moon</string>
            </dict>
            <key>6</key>
            <dict>
              <key>name</key>
              <string>punctuation.definition.tag.moon</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>include</key>
          <string>#illegal</string>
        </dict>
       </array>
    </dict>
    <key>text</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>([^\[\]])</string>
          <key>name</key>
          <string>text.moon</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
